<html>
  <head>
    <title>IdeaBox</title>
  </head>
  <body>
	  <h1>Hello World, View Template Edition</h1>
	  Stuff goes here<br/>
	<form action='/' method='POST'>
	  <input type='text' name='idea_title'/><br/>
	  <textarea name'idea_desc'></textarea><br/>
	  <input type='submit'/>
	</form>
	  
  </body>
</html>

